<div class="d-flex flex-column">
    
<button class="box"> Team </button>

<button class="box"> Projects </button>

<button class="box"> Leaves Management </button>

<button class="box"> Attendence Management </button>

</div>