<div class="d-flex flex-column">
    
    <%= button_to "Dashboard",signnedin_path, method: :get, class:'box'%>

    
    <%= button_to "Leaves",employee_leaves_path, method: :get, class:'box'%>

    <%= button_to "Attendance",attendance_path, method: :get, class:'box'%>


    <%= button_to "Settings", employee_details_path, method: :get, class:'box'%>

    

</div>