<div class= "d-flex flex-row">
<%=render "home/leftmenu" %>
    <div class= "d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="attendance"> 
                <div class="headingbox">
                    <h5>Attendance</h5>
                    <%= button_to "Logout", destroy_employee_session_path, method: :delete, :class=>"btn btn-success attendancebutton"%>
                </div>
            </div>
            <div class="attendance"> 
                <div class="headingbox">
                    <h5>Last week details</h5>
                </div>
            </div>
        </div>
    
        <div class="d-flex flex-row">
            <div class="attendance">
                <div class="headingbox"> 
                <h5>pie chart</h5>
                <%= pie_chart [["present", 2], ["Absent", 3], ["leaves", 4]], height:"250px", weight:"200px"%>

                </div>
            </div>
            <div class="attendance">
                <div class="headingbox">
                <h5>Data</h5>
                </div>
            </div>
        </div>
    </div>
</div>


